.pokemon-list-container {
  min-height: 100vh;
  background: #263238;
  padding-bottom: 20px;

  .image-container {
    padding: 20px;
  }

  .list-container {
    .pokemon-list {
      list-style-type: none;
      padding: 0;
      max-width: calc(100% - 40px);
      margin: auto;

      .pokemon {
        width: 250px;
        height: 100px;
        display: inline-flex;
        justify-content: center;
        background: #fff;
        align-items: center;
        margin: 10px;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Montserrat';
        cursor: pointer;

        a {
          text-decoration: none;
          color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .navigation-container {
    margin-top: 20px;

    .navigation-selected-container {
      margin-top: 20px;

      button {
        width: 150px;
        height: 55px;
        font-family: 'MONTSERRAT';
        font-size: 16px;
      }
    }
  }
}
